.but{
    float: right;
    color: white;
    background-color: blue;
}
.log{
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
    background-color: rgb(214, 199, 170);
}
.top{
    height: 40px;
    background-color: rgb(214, 27, 90);
}
.log1{
    float: left;
}
.log2{
    float: right;
}
.log3{
    float: right;
}