<div class="main">
  <div class="left"><a style="color: white;" href=""><b>BOOKCART</b></a></div>
  <div class="right">
       <button ><a href="https://bookcart.azurewebsites.net/login">Login</a></button> 
  </div>    
</div>        


<div class="list">
  <a routerLink="" routerLinkActive="active">All Categireos</a> <hr>
  <a routerLink="" routerLinkActive="active">Biography</a> <hr>
  <a routerLink="" routerLinkActive="active">Fiction</a> <hr>
  <a routerLink="" routerLinkActive="active">Mystary</a> <hr>
  <a routerLink="" routerLinkActive="active">Fantacy</a><hr>
  <a routerLink="" routerLinkActive="active">Romance</a>
</div>



<router-outlet></router-outlet>